html,
body {
  padding: 0;
  margin: 0;
}
/* navbar */
.padreNavbar {
  width: 100%;
  height: 100vh;
}
.conteinerNavbar {
  display: flex;
  justify-content: center;
}
 
/* Home */
.padreHome {
  width: 100%;
  height: 100vh;
}
.containerHome {
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
